/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import url("base.css");

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --style_primary: #6386CB;
    --style_secondary: #CB7463;
    --style_header_color: #6386CB;
    --style_orange: #CB7463;
    --style_orange_light: #CB7463;
    --style_header_button: #f5b042;

}
