/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import url("base.css");

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --style_primary: #38b1c9;
    --style_secondary: #259441;
    --style_header_color: #ffffff;
    --style_orange: #259441;
    --style_orange_light: #97dea8;
    --style_header_button: #000000;
}


