/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import url("base.css");

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --style_primary: #db770d;
    --style_secondary: #613200;
    --style_header_color: #ffffff;
    --style_orange: #613200;
    --style_orange_light: #613200;
    --style_header_button: #000000;
}
